/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
                    common rules
========================================================================== */

* {
    margin: 0;
    padding: 0;
}

.mainnav, .connexion, .regionul, .firstfooter, .secondfooter, .network p, .photo h3, .search {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

header, .navlogo, .maincontainer {
    display: flex;
}

label {
    display: block;
}

.orange1 {
    color: #F56B2A;
}

.blue1 {
    color: #3873BD;
}

.white1:hover {
    text-decoration: underline;
}

.blue1:hover {
    text-decoration: underline;
}

.firstfooter ul li a:hover {
    text-decoration: underline;
}

.secondfooter ul li a:hover {
    text-decoration: underline;
}

.offreannonce nav ul li:hover {
    background-color: white;
}

.offreannonce nav ul li:hover .hoverorange {
    color: #F56B2A;
    text-decoration: underline;
}

.offres a:hover, .une article a:hover {
    background-color: #f2f2f2;
}

.mainnav ul li a:hover {
    text-decoration: underline;
}

.blue:hover, .buttonblue:hover, .buttonrecherche:hover {
    background-color: #4c94ef;
}

.white:hover {
    background-color: #d9e6f7;
}

header {
    position: fixed;
    left: 0;
    top: 0;
}

.containergrey {
    margin-top: 69px;
}


/* ==========================================================================
                   end of common rules
========================================================================== */


/* ==========================================================================
                header rules
========================================================================== */

header {
    width: 100%;
    background-color: #F56B2A;
    height: 69px;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
}

.menumobile a {
    padding: 10px;
    background-color: white;
    color: #F56B2A;
    border-radius: 4px;
}

.navlogo {
    margin-left: 10px;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.logo figure {
    width: 140px;
    height: 40px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 100%;
}


/* --------------------------- offre.html ----------------------- */

.navlogooffre {
    width: 95%;
    margin: auto;
}

.searchmobile {
    padding: 10px;
    background-color: white;
    color: #F56B2A;
    border-radius: 4px;
    width: 40px;
    text-align: center;
}


/* ==========================================================================
                   end of header rules
========================================================================== */


/* ==========================================================================
                main rules
========================================================================== */

.maincontainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.maincontaineroffre {
    width: 90%;
    margin: auto;
}

.maincontainer {
    margin-top: 82px;
}

.map, .bonaffaire, .region {
    width: 100%;
}

.maincontainer>p {
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}


/* -------------------- first section in main rules ------ */

.bonaffaire {
    display: flex;
    flex-direction: column;
}

.bonaffaire p, .bonaffaire a {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.bonaffaire a {
    width: 240px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 12px;
}

.blue {
    background-color: blue;
    color: white;
}

.white {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.bonaffaire a i {
    margin-right: 10px;
}


/* ----------------- second section in main rules ---------------*/

.map {
    margin-top: 5px;
    margin-bottom: 25px;
}

.map figure, .map img {
    width: 100%;
    margin: auto;
}


/* --------------------- Aside region rules ---------------------*/

.region {
    width: 100%;
    margin: 20px 0;
}

.selectregion {
    width: 100%;
    height: 50px;
    font-weight: bolder;
}


/* ------------------- annonce.html ---------------------*/

.annonce>h2 {
    color: #989898;
    font-size: 20px;
    border-bottom: 1px solid #989898;
    margin-bottom: 20px;
    padding-bottom: 4px;
    margin-top: 20px;
}

.annoncecontainer {
    border: 1px solid #CCCCCC;
    width: 100%;
    margin-bottom: 20px;
}

.pannonce {
    background-color: inherit !important;
}

.annoncecontainer>h3 {
    width: 97.5%;
    background-color: #666666;
    color: white;
    font-size: 13px;
    padding: 10px 0;
    margin-bottom: 20px;
    padding-left: 2.7%;
}

.votreannonce {
    width: 95%;
    margin: auto;
}

.maincontainer article input[type="tel"], .maincontainer article input[type="email"], .maincontainer article input[type="text"], .maincontainer article select, .maincontainer article textarea, .prix {
    width: 95%;
    height: 40px;
}

label, select {
    margin: 10px 0;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.prix {
    display: flex;
    align-items: center;
    border: 1px solid #929292;
    border-radius: 5px;
    padding: 5px 0;
    width: 100%;
}

.prix input {
    border: 0;
}

.votreannonce {
    font-size: 13px;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.photo article {
    margin-left: 5px;
    height: 63px;
}

.photo figure {
    border: 1px dashed #929292;
    background-color: #F2F2F2;
    margin: 0;
}

.photo figure i {
    font-size: 20px;
    padding: 20px;
}

.septphoto h3 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #F56B2A;
    font-size: 16px;
    font-weight: lighter;
}

.septphoto figure {
    border: 0;
    background-color: inherit;
}

.septphoto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px dashed #F56B2A;
    margin: 20px 0;
}

.maincontainer, .maincontaineroffre {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

.button {
    margin: auto;
    background-color: #F56B2A;
    display: block;
    opacity: 0.5;
    padding: 15px 25%;
    width: 50%;
}

.button, .buttonblue {
    text-align: center;
    border-radius: 4px;
    color: white;
}

.buttonblue {
    background-color: #4183D7;
    padding: 15px 0;
    width: 100%;
    display: block;
    margin: auto;
}

.votreannonce>p {
    background-color: #A7D7EF;
    margin: 10px 5px;
    text-align: left;
    border-radius: 4px;
    padding: 7px 0;
}

.mapform figure img {
    margin: auto;
    display: block;
}

.mapform figure {
    border: 1px solid lightgrey;
    margin-top: 7px;
}


/* --------------------- offre.html ------------------ */

.maincontaineroffre h2 {
    color: #989898;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    margin-top: 20px;
    width: 90%;
    margin: 20px auto;
}

.savoir {
    display: none;
}

.une {
    border: 2px solid #F56B2A;
}

.une h3 {
    width: 100%;
    text-align: center;
    background-color: #F56B2A;
    color: white;
    font-size: 14px;
    line-height: 40px;
}

.une article figure {
    display: flex;
}

.orange {
    color: #F56B2A;
    font-weight: bold;
}

.une figcaption p {
    margin: 15px 0px;
    margin-left: 10px;
}

.offres {
    border: 1px solid #ccc;
}

.offreannonce ul {
    list-style-type: none;
    display: flex;
}

.navnone, .trier {
    display: none
}

.offreannonce nav ul li {
    height: 50px;
    text-align: center;
    padding: 0 10px;
    color: #1a1a1a;
    background-color: #E6E6E6;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 125px;
}

.offreannonce nav ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.offreannonce nav li:first-child {
    background-color: white;
}

.offres a {
    display: flex;
    align-items: center;
}

.offres a section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.articleoffre {
    width: 75%;
}

.coeur {
    display: flex;
    width: 20%;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.coeur i {
    margin-right: 10px;
}

.navpage {
    margin-top: 10px;
    justify-content: center;
}

.navpage li {
    margin-right: 5px;
}

.navpage a {
    color: #336699;
}

.navpage a:hover {
    text-decoration: underline;
}


/* ==========================================================================
                   end of main rules
========================================================================== */


/* ==========================================================================
                            end of footer rules
========================================================================== */

.footermobile {
    background-color: #474747;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footermobile h4 {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 10px;
}

.footerannonce h4 {
    line-height: 70px;
}


/* ==========================================================================
                                     end of footer rules
========================================================================== */

@media (min-width:768px) {
    /* ==========================================================================
                      common rules
  ========================================================================== */
    /* ==========================================================================
                     end of common rules
  ========================================================================== */
    /* ==========================================================================
                  header rules
  ========================================================================== */
    /* ==========================================================================
                     end of header rules
  ========================================================================== */
    /* ==========================================================================
                  main rules
  ========================================================================== */
    .maincontainer, .maincontaineroffre {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .map, .bonaffaire, .region {
        width: 100%;
    }
    .bonaffaire p, .bonaffaire a {
        margin: 15px auto;
    }
    /* -------------------- first section in main rules ------ */
    .bonaffaire, .map {
        width: 47%;
    }
    .bonaffaire a {
        width: 100%;
        padding: 10px 0px;
        border-radius: 4px;
        font-size: 12px;
    }
    /* --------------------- Annonce.html ---------------------*/
    .photo h3 {
        display: block;
        font-size: 13px;
        font-weight: 500;
    }
    .photo article {
        width: 22%;
        height: 150px;
        background-color: #F2F2F2;
        border: 1px dashed #929292;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 15px;
    }
    .photo figure {
        border: 0;
        margin-top: 30px;
    }
    .photo figure i {
        font-size: 50px;
        padding: 0px;
    }
    .septphoto h3 {
        width: 70%;
    }
    .septphoto {
        border: 3px dashed #F56B2A !important;
        margin: 0;
    }
    .adressecontainer {
        display: flex;
        flex-wrap: wrap;
    }
    .valideadresse {
        display: flex;
        flex-wrap: wrap;
        width: 47%;
    }
    .mapform {
        width: 47%;
    }
    .adr {
        width: 100%;
    }
    #adr {
        width: 60%;
        margin-right: 15px;
    }
    .button {
        width: 25%;
        padding: 10px 0;
    }
    .mapform figure {
        width: 90%;
        margin: auto;
    }
    .buttonblue {
        padding: 15px 0;
        width: 30%;
        margin: 0;
    }
    /* ------------------------- offre.html ------------------- */
    .mainannonce {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .une {
        width: 20%;
    }
    .une article a figure {
        margin: 0;
        flex-direction: column;
        border-bottom: 1px solid lightgrey;
    }
    .offreannonce {
        width: 75%;
        margin-right: 20px;
    }
    .navpage li {
        font-size: 10px;
    }
    .maincontaineroffre {
        width: 100%;
    }
    .offreannonce nav ul span {
        display: block;
        margin-left: 2px;
        font-size: 11px;
    }
    .offreannonce nav ul li {
        font-size: 12px;
    }
    .savoir {
        display: flex;
        background-color: #F2F2F2;
        color: #57BDED;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    .savoir:hover {
        text-decoration: underline;
    }
    /* ==========================================================================
                     end of main rules
  ========================================================================== */
    /* ==========================================================================
                              end of footer rules
  ========================================================================== */
    /* ==========================================================================
                                       end of footer rules
  ========================================================================== */
}

@media (min-width:1024px) {
    /* ==========================================================================
                      common rules
  ========================================================================== */
    .menumobile, .selectregion, .searchmobile {
        display: none;
    }
    .connexion, .mainnav, .region, .firstfooter, .secondfooter, .network p, .regionul, .search {
        display: block;
    }
    .header, .maincontainer, .firstfooter, .secondfooter, .maincontaineroffre {
        width: 85%;
    }
    /* ==========================================================================
                     end of common rules
  ========================================================================== */
    /* ==========================================================================
                  header rules
  ========================================================================== */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .navlogo {
        display: inherit;
        justify-content: flex-start;
        width: 85%;
    }
    .logo {
        width: 23%;
    }
    .mainnav {
        width: 75%;
    }
    .mainnav ul {
        list-style-type: none;
        display: flex;
    }
    .mainnav ul li {
        padding: 0 1%;
        font-size: 14px;
        letter-spacing: -0.5px;
    }
    .mainnav ul li a {
        color: #fff
    }
    .connexion {
        width: 14%;
        height: 69px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        ;
    }
    .connexion a {
        display: flex;
        width: 100%;
        color: #fff;
        font-size: 14px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .connexion a:hover {
        background-color: white;
        color: #F56B2A;
    }
    .connexion i {
        margin-right: 10px;
    }
    /* ==========================================================================
                     end of header rules
  ========================================================================== */
    /* ==========================================================================
                  main rules
  ========================================================================== */
    .map, .bonaffaire {
        width: 32%;
    }
    .region {
        width: 19%;
    }
    .maincontainer, .maincontaineroffre {
        justify-content: space-between;
    }
    .map {
        margin-top: 25px;
    }
    .bonaffaire a {
        width: 334px;
    }
    /* --------------------- Aside region rules ---------------------*/
    .regionul {
        list-style-type: none;
        text-align: right;
    }
    .regionul a {
        color: blue;
    }
    .regionul a:hover {
        color: #F56B2A;
    }
    /* -------------------- Annonce.html ------ */
    .votreannonce {
        width: 70%;
        margin: 0;
        margin-left: 20px;
    }
    .valideadresse {
        width: 65%;
    }
    .mapform {
        width: 31%;
    }
    .maincontainer article input[type="tel"], .maincontainer article input[type="email"], .maincontainer article input[type="text"], .maincontainer article select, .maincontainer article textarea, .prix {
        width: 60%;
        height: 40px;
    }
    .prix {
        justify-content: space-between;
        width: 35%;
    }
    .prix input {
        width: 100%;
    }
    .prix span {
        margin-right: 15px;
    }
    label {
        width: 100%;
    }
    .vosinfo input[type="text"], .vosinfo input[type="tel"], .vosinfo input[type="email"] {
        width: 35% !important;
        height: 30px;
    }
    textarea {
        height: 200px !important;
    }
    /* ---------------------------- offre.html ----------------- */
    .containergrey {
        width: 100%;
        background-color: #E6E6E6;
        padding: 10px 0;
    }
    .search, .selectionne, .radio00, .radio {
        display: flex;
        flex-wrap: wrap;
    }
    .search {
        width: 78%;
        margin: auto;
    }
    .selectionne {
        width: 75%;
    }
    .selectionne input {
        width: 70%;
        margin: 0;
    }
    .selectionne select {
        width: 25% !important;
        margin: 0;
        margin-left: 10px;
    }
    .buttonrecherche {
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        border-radius: 4px;
    }
    .buttonrecherche a {
        color: white;
    }
    .radio {
        font-size: 13px;
        display: block;
    }
    .radio00 {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .radio00 select {
        width: 22%;
        margin-left: 50px;
        height: 30px;
    }
    .ville {
        width: 25%;
        margin-left: 50px;
        height: 23px;
    }
    .offreannonce nav ul li {
        width: 175px;
    }
    .offreannonce nav ul li a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* ==========================================================================
                     end of main rules
  ========================================================================== */
    /* ==========================================================================
                              end of footer rules
  ========================================================================== */
    .firstfooter, .secondfooter {
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .firstfooter ul, .secondfooter ul {
        width: 23%;
        list-style-type: none;
        margin-bottom: 20px;
    }
    .grey {
        background-color: #474747;
        padding-top: 20px;
        color: #FFFFF3;
    }
    .lightgrey {
        background-color: #F2F2F2
    }
    .grey .title {
        border-bottom: 1px solid #666666;
    }
    .grey li a {
        color: #FFFFF3;
    }
    .lightgrey .title {
        border-bottom: 1px solid #D1D1D1;
    }
    .lightgrey li a {
        color: #3873BD;
    }
    .title {
        font-size: 20px;
        margin: 20px 0;
    }
    .firstfooter .title {
        color: #3873BD;
    }
    .secondfooter .title {
        color: white;
    }
    footer li {
        width: 100%;
        font-size: 14px;
    }
    .secondfooter ul li figure, .logopayement img {
        width: 110px;
        height: 30px;
        margin: 0;
    }
    .logopayement {
        display: flex;
    }
    .lang {
        width: 100%;
        color: black;
    }
    .secondfooter>p {
        width: 100%;
        text-align: center;
        border-top: 1px solid #666666;
        border-bottom: 1px solid #666666;
        padding: 8px 0;
    }
    .network p {
        font-size: 13px;
        margin-right: 5px;
    }
    .network {
        width: 20%;
        display: flex;
        align-items: center;
    }
    .network figure {
        margin: 0;
    }
    .network i {
        font-size: 22px;
    }
    /* ==========================================================================
                                       end of footer rules
  ========================================================================== */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
